.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.control-group {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.control-group button {
  border: none;
  background-color: indianred;
  color: white;
  font-weight: 600;
  padding-block: 0.75rem;
  padding-inline: 2rem;
  margin-inline: 1rem;
  border-radius: 25px ;
  cursor: pointer;
  transition: all .2s ease-out;
}

.control-group button:disabled {
  background-color: grey;
  color: white;
  opacity: 0.5;
  cursor: default;
}

.control-group button:hover {
  opacity: 0.5;
}